.borrow_detail {
    background-color: var(--primary);
    min-height: 260px;
    border-radius: var(--border-radius);
}

.btn-borrow {
    background-color: var(--light);
    border-radius: var(--border-radius);
    border: #fff;
    width: 95%;
}

.btn-borrow:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.borrow_alert {
    border-radius: var(--border-radius);
    min-height: 50px;
    background-color: #FFB133;
}

.icon_alert {
    width: 24px;
    height: 24px;
}

.borrow_create_cancel {
    background-color: #ff0000;
    color: var(--light);
    border-radius: var(--border-radius);
    margin-top: 1%;
    cursor: pointer;
}

.borrow_create_start {
    background-color: #4952b8;
    color: var(--light);
    border-radius: var(--border-radius);
    margin-top: 1%;
    cursor: pointer;
}

.history_filter_item {
    width: 45%;
}

.history_dropdown {
    width: 40%;
}

.history-item {
    cursor: pointer;
    background-color: white;
    padding: 10px 10%;
    border-radius: 8px;
    margin-bottom: 2%;
}

.item-status_done {
    background-color: #C9FFC5;
    color: var(--button);
    border-radius: 10px;
}

.item-status_cancel {
    background-color: #DD3232;
    color: var(--light);
    border-radius: 10px;
}

.item-status_process {
    background-color: #2F80ED;
    color: var(--light);
    border-radius: 10px;
}

.item-status_open {
    background-color: #B3B3B3;
    color: var(--dark);
    border-radius: 10px;
}