.basic_profile {
    background-color: var(--light);
    border-radius: var(--border-radius);
}

.profile_Uncompleted {
    background-color: #db1111;
    border-radius: var(--border-radius);
    padding: 0px 10px;
    width: 12%;
    text-align: center;
}

.profile_Uncompleted::after {
    content: "Uncompleted";

}

.profile_completed::after {
    content: "Completed";
}

.profile_completed {
    background-color: #11db36;
    border-radius: var(--border-radius);
    padding: 0px 10px;
    width: 12%;
    text-align: center;
}

.profile {
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
    cursor: pointer;
}

.account_info {
    background-color: var(--light);
    border-radius: var(--border-radius);
    max-width: 60%;
}

.user_field {
    color: #3e3e3e;
}

.btn_update_profile {
    color: white;
    background-color: var(--button);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.2rem;
}

.edit_infor {
    cursor: pointer;
}