.btn_submit {
    color: var(--light);
    background-color: var(--button);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    height: 25px;
    padding: 0 10px;
    margin-right: 13%;
}

.facebook_link {
    display: flex;
    width: 80%;
    border-radius: var(--border-radius);
    margin: auto;
}